<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mt-5 mb-4">How to contact UserDirectory</h1>
            <p>
                At User Directory, we value open communication and welcome the opportunity to connect with you. Whether
                you have
                questions, feedback, or inquiries about our platform, our dedicated team is here to help you.

                Contacting us is straightforward. You can reach out to us through the following channels:
            <p>
            <address>
                <b>UserDirectory, Inc.</b>
                <br>
                123 Directory Lane Suite 101
                <br>
                Metropolis, NY 10001 United States
                <br>
                <br>
                <b>Email:</b>&emsp;<a href="mailto:info@userdirectory.com">info@userdirectory.com</a>
                <br>
                <b>Phone:</b>&emsp;<a href="tel:+1234567890">+1 (123) 456-7890</a>
            </address>
            <p>
                Additionally, if you're interested in adding a new user profile to our platform or verifying your existing
                account details, we're here to help.
                Fill out the contact form below, provide details about your
                request, and one
                of our representatives will get back to you promptly.

                We understand the importance of accurate and up-to-date information for our community, and we're committed
                to providing
                you with the support and assistance you need.

                Thank you for choosing User Directory as your trusted platform for connecting people.
                We look forward to hearing from you!
            </p>
        </div>
    </div>
</div>