<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:if="${pageTitle == 'Home'}">UserDirectory</title>
    <title th:unless="${pageTitle == 'Home'}" th:text="'UserDirectory | ' + ${pageTitle}">UserDirectory</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="~{nav :: navbarFragment}"></div>
<div th:insert="~{${content}}"></div>
<div th:replace="~{footer :: footerFragment}"></div>
</body>
</html>