<nav th:fragment="navbarFragment" class="navbar"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="navbar-content">

        <!-- Left: Logo -->
        <a class="navbar-brand" th:href="@{/}">User Directory</a>

        <!-- Middle: Page links -->
        <ul class="nav-links">
            <li><a th:href="@{/}">Home</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/users}">View Users</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/users/add}">Add New User</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
        </ul>

        <!-- Right: Auth -->
        <div class="nav-auth">
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/register}" class="btn-nav-link">Register</a>
                <a th:href="@{/login}" class="btn-nav-login">Login</a>
            </div>
            <div sec:authorize="isAuthenticated()" class="nav-user-info">
                <span sec:authentication="name" class="nav-username"></span>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn-nav-logout">Logout</button>
                </form>
            </div>
        </div>

    </div>
</nav>
