<!-- Navigation Bar -->
<nav th:fragment="navbarFragment" class="navbar navbar-expand navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">User Directory</a>
        <div class="navbar-nav d-flex justify-content-center align-items-center flex-grow-1">
            <ul class="navbar-nav ms-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users}">View Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/add}">Add New User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>