<div class="container">
    <h1 th:text="${pageTitle}">Users List</h1>
    <div th:if="${not #lists.isEmpty(userList)}">
        <table class="table-styled">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userList}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.location}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-blue">Edit</a>
                    <form th:action="@{/users/delete/{id}(id=${user.id})}" th:method="delete" style="display:inline; margin-left: 5px;">
                        <button type="submit" class="btn btn-red">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(userList)}" style="text-align: center; margin-top: 20px;">
        <p>No users on the database.</p>
        <div class="action-bar">
            <a th:href="@{/users/add}" class="btn btn-green">Be first to add a user!</a>
        </div>
    </div>

    <div th:if="${!#lists.isEmpty(userList)}" class="action-bar">
        <a th:href="@{/users/add}" class="btn btn-green">Add new user</a>
    </div>
</div>